.collapse-button-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 1%;
  z-index: 200;
  left: 0;
  width: calc(100vw - 5vw);
  padding: 0 2.5vw;
}
.gallery-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.gallery-button > i,
.collapse-button-container > i {
  margin: 10px;
  background: lightgrey;
  border-radius: 100%;
  padding: 10px;
}
.collapse-button-container > i {
  padding: 10px 15px;
}
.gallery-button > i:hover,
.collapse-button-container > i:hover {
  background: grey;
}
.invisible {
  opacity: 0;
  pointer-events: none;
}
.gallery-image {
  width: 90vw;
  max-height: 100vh;
}
.slideshow-container {
  position: relative;
  background: black;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 93vh;
}
