.top-margin {
  margin-top: 4%;
}
.white {
  width: 100%;
  background: white;
}
h1 {
  color: seagreen;
  opacity: 0.65;
}

.container {
  flex-direction: column;
  width: 100%;
  color: #000;
}

.caption {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
