html {
  font-family: Roboto, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.my-section {
  display: column;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sketch-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* background: rgb(51, 51, 51); */
  width: 100vw;
  height: fit-content;
}
.grecaptcha-badge {
  opacity: 0;
}
