button {
  border: none;
  background: inherit;
  color: inherit;
}

.hidden {
  display: none !important;
}
.technology {
  width: 25vw;
  height: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.technology-image-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.technology-image {
  width: 80%;
  height: auto;
}

.about-me-container {
  width: calc(100vw - 20vw);
  padding: 10px 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-me-container > a {
  margin: 10px;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 900;
  color: rgb(51, 51, 51);
  background: rgb(249, 220, 92);
}

.cv-image {
  width: 25%;
  height: 25%;
}

.cv-container {
  width: 100%;
  max-width: 936px;
  margin: 5vh auto;
  font-family: Helvetica;
  font-size: 20px;
}

.cv-section {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 10px;
}

.cv-divider {
  height: 5px;
  width: 101%;
  margin-left: -1%;
  background-color: #559b39;
  align-self: center;
}

.cv-main-section {
  margin-bottom: 20px;
  margin-top: 20px;
}

.cv-container ul {
  margin-left: -20px;
}

.cv-container h1,
.cv-container h2,
.cv-container h3 {
  color: #559b39;
}

.cv-container h1 {
  font-size: 1.7rem;
}

.cv-container h2 {
  font-size: 1.5rem;
}
.cv-container h3 {
  font-size: 1.3rem;
}

.cv-header {
  flex-wrap: wrap;
  display: flex;
}

.cv-name-heading {
  display: flex;
  flex-direction: column;
}

.about-me-image {
  width: 100%;
}
.fa-heart {
  color: #e6164a;
  margin: 5px;
}
.fa-linkedin {
  color: #4875b4;
}
.fa-stack-overflow {
  color: #f48024;
}
.fa-codepen {
  color: rgb(100, 100, 100);
}
.socials-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 10vw;
  justify-content: space-around;
  align-items: center;
}

.menu-links > a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.menu-links > a > i {
  text-decoration: none !important;
  margin-right: 5px;
}
.socials-bar > * {
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px 0px;
}
.socials-bar > *:hover {
  background: rgb(230, 230, 230);
}
.copyrights-bar {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-section,
.technologies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.project-header {
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  padding: 20px;
}
.project-header-container {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: #886161aa;
  width: 100%;
  height: 100%;
}
.project:hover > .project-header-container {
  background-color: #000000cc;
  display: flex;
}
.project-image {
  object-fit: cover;
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
}

.project-image:hover {
  transform: scale(1.5);
}
.projects-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.project {
  margin: 0;
  position: relative;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}

h1 {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}

.circular {
  border-radius: 100%;
}

.navigation-bar {
  display: none;
}

.center-technology-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 800px) {
  .about-me-container {
    display: grid;
    grid-template-areas:
      "a d"
      "b d"
      "c d";
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 3fr 2fr;
    padding: 10vh 10vw 20vh 10vw;
    width: 80vw;
    column-gap: 30px;
  }
  .about-me-container > h2 {
    align-self: end;
    grid-area: a;
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: 900;
  }
  .about-me-container > div {
    align-self: start;
    padding: 0;
    font-size: 1.5em;
  }
  .about-me-container > a {
    align-self: start;
    width: fit-content;
    margin: 0;
    grid-area: c;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 900;
    color: rgb(51, 51, 51);
    background: rgb(249, 220, 92);
  }
  .about-me-image {
    grid-area: d;
    justify-self: center;
    align-self: center;
    margin: 40px;
    width: 100%;
  }
  .hide-mobile {
    display: none;
  }
  .technologies-container {
    font-size: 3em;
    margin: 20vh 0;
  }
  .technologies-container > h2,
  .technologies-container > h4 {
    margin: 0;
    padding: 0;
  }
  .technology-image-container {
    width: 80vw;
    padding: 10vh 10vw;
  }
  .technology {
    margin: 10px;
    width: calc(80vw / 5 - 2 * 10px);
    height: calc(80vw / 5 - 2 * 10px);
  }

  .projects-header {
    font-size: 4em;
  }
  .project {
    margin: 0;
    position: relative;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
  }
  .navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
  }
  .navigation-bar > .menu-links {
    display: flex;
    flex-direction: row;
  }
  .navigation-bar > .menu-links > a {
    margin: 10px 30px;
  }
  footer {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1400px) {
  .technology {
    margin: 10px;
    width: calc(80vw / 7 - 2 * 10px);
    height: calc(80vw / 7 - 2 * 10px);
  }
}
