.section-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.hidden-section {
  position: absolute !important;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  top: 0;
}

@keyframes blendOut {
  0% {
    /* opacity: 1; */
    left: 0vw;
  }
  100% {
    /* opacity: 0.5; */
    left: -100vw;
  }
}

.section-container2 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.section-image {
  position: absolute !important;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
}
@keyframes blendIn {
  0% {
    /* opacity: 0.5; */
    left: 100vw;
  }
  100% {
    /* opacity: 1; */
    left: 0vw;
  }
}
.section-header {
  text-align: center;
  font-size: 0.7em;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: white;
  width: 80%;
}
.section-header > h1 {
  margin: 0;
  line-height: 1em;
}

@media only screen and (min-width: 700px) {
  .section-header {
    padding: 40px 40px;
    font-size: 0.8em;
    width: 40%;
  }
}
@media only screen and (min-width: 1400px) {
  .section-header {
    padding: 40px 40px;
    font-size: 1em;
    width: 30%;
  }
}
@media only screen and (min-width: 2400px) {
  .section-header {
    padding: 80px 80px;
    font-size: 1.5em;
    width: 20%;
  }
}
