.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.size {
  height: 11vw;
  width: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vw;
}
.size > * {
  margin: 0;
}
.small {
  width: 10vw;
  height: 10vw;
}
.small:hover {
  width: 11vw;
  height: 11vw;
}
@media only screen and (max-width: 800px) {
  .size {
    height: 30vw;
    width: 30vw;
  }
  .small {
    width: 25vw;
    height: 25vw;
  }
  .small:hover {
    width: 30vw;
    height: 30vw;
  }
}
